---
layout: compress
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
    {% include head.html %}
    <body class="main-page has-push-menu">
        {% include svg-icons.html %}
<header class="bar-header">
    <a id="menu">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
    <a id="search" class="dosearch">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
    <h1 class="logo">
        <a href="{{ site.baseurl }}/">
            Selection of Ephemera (things I make for fun)
        </a>
    </h1>
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}

            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
    </body>
</html>

