---
layout: compress
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
    {% include head.html %}
    <body class="main-page has-push-menu">
        {% include svg-icons.html %}
        {% include header.html %}
<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}

            <section class="content">
                {{ content }}
            </section>
            <section class="content">
                <p class="onBlack">I'm available for presentation and speaking engagments related to product, technology or design on a limited basis. If you're interested please do get in touch.</h1>
            </section>            
        {% include footer.html %}
    </body>
</html>

